<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749041811501-ee8dargshecnk5sdn28muh3ksij3o9ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749041811501-ee8dargshecnk5sdn28muh3ksij3o9ev</string>
	<key>API_KEY</key>
	<string>"개인 키"</string>
	<key>GCM_SENDER_ID</key>
	<string>749041811501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-d4393</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-d4393.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749041811501:ios:af91d2ac5a56cfd4f1b8a4</string>
</dict>
</plist>
